@model IEnumerable<InventoryApp.Models.Store>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Open)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Close)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Open)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Close)
        </td>
        <td>
            <span class="stars">
                @Html.DisplayFor(modelItem => item.Rating)
            </span>   
</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
            @Html.ActionLink("Add Inventory", "AddInventory", new { id = item.ID }) |
            @Html.ActionLink("View Inventory", "ViewInventory", new { id = item.ID }) |

            @*  This one isnt working correct i think i named it wrong or idk  *@

            @Html.ActionLink("View Employees", "ViewEmployee", new { id = item.ID })
            @*  /Stores/AddInventory/3  *@
        </td>
    </tr>
}

</table>

@section Scripts {

    <script type="text/javascript">

        //this prepares the js to run
        $(document).ready(function () {
            // this expands the function of span.stars
            $('span.stars').stars();
        });
        //this is the actual function of 'stars();'
        $.fn.stars = function () {
            return $(this).each(function () {

                // gets the value of what 'this' is
                var val = parseFloat($(this).html());
                // Make sure that the value is in 0 - 5 range, multiply to get width
                var size = Math.max(0, (Math.min(5, val))) * 16;
                // Create stars holder
                var $span = $('<span />').width(size);
                // Replace the numerical value with stars
                $(this).html($span);
            });
        }
    </script>
    
    }
