@model IEnumerable<InventoryApp.Models.Inventory>

@{
    ViewBag.Title = "Index";
}


<h2>Inventory for  @Html.DisplayFor(modelItem => modelItem.FirstOrDefault().Stores.Name)</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacture)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.Rating)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <th>
            <img src="@Url.Content(item.PictureUrl)" alt="rusty spoon" height="50" width="50">
          
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacture)
        </td>
        <th><span class="stars">
    @Html.DisplayFor(modelItem => item.Rating)
</span>
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        
    </tr>
}
</table>
<p>
    @Html.ActionLink("Create New", "Create", new { storeId = ViewBag.StoreId })
</p>

@Html.ActionLink("Back to Stores", "Index", "Stores")

@section Scripts {

    <script type="text/javascript">

        //this prepares the js to run
        $(document).ready(function () {
            // this expands the function of span.stars
            $('span.stars').stars();
        });
        //this is the actual function of 'stars();'
        $.fn.stars = function () {
            return $(this).each(function () {

                // gets the value of what 'this' is
                var val = parseFloat($(this).html());
                // Make sure that the value is in 0 - 5 range, multiply to get width
                var size = Math.max(0, (Math.min(5, val))) * 16;
                // Create stars holder
                var $span = $('<span />').width(size);
                // Replace the numerical value with stars
                $(this).html($span);
            });
        }
    </script>
}
